# Node dependencies
apps/frontend/node_modules/
apps/backend/node_modules/

# Environment files
apps/frontend/.env
apps/backend/.env
apps/scraper/.env

# scrapper
apps/scraper/.env.example
apps/scraper/.env
# Python cache
__pycache__/


# OS / editor files
.DS_Store
